body{
	background: #fff !important;
}
.content{
	font-family: "微软雅黑";
}
.head{
	line-height: 90px;
	height: 90px;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	font-size: 36px;
	color: #333;
	background: #fff;
}
.head a{
	float: left;
}
.head a img{
	padding:25px 0 11px 20px;
	width: 20px;
}
.detail ul{
	background: #f1f1f1;
	padding: 20px 0;
}
.detail ul li{
	line-height: 50px;
	border-bottom: 1px solid #ccc;
	padding-left: 20px;
	color: #333;
	overflow: hidden;
	background: #fff;
	font-size: 24px;
}
.detail ul li:nth-child(2){
	margin-top: 20px;
}
.detail ul li input{
 	margin-left: 20px;
    border: 0;
    width: 78%;
    line-height: 80px;
}
.detail p{
	padding-left: 20px;
	padding-top: 10px;
	font-size: 24px;
	color: #999;
}
.button{
	width:90%;
	line-height: 80px;
	background: #ffa104;
	color: #fff;
	margin: 0 auto;
	border-radius: 6px;
	text-align: center;
	font-size: 32px;
	margin-top: 170px;
	border: none;
	outline: none;
	display: block;
	font-family: '微软雅黑';
}
@media screen and (min-width: 1024px) {
	body,html{
		font-size: 60px;
	}
	.head{
		line-height: .90rem;
		height: .90rem;
		font-size: .36rem;
	}
	.head a img{
		padding:.25rem 0 .11rem .20rem;
		width: .20rem;
	}
	.detail ul{
		padding: .20rem 0;
	}
	.detail ul li{
		line-height: .50rem;
		padding-left: .20rem;
		font-size: .24rem;
	}
	.detail ul li:nth-child(2){
		margin-top: .20rem;
	}
	.detail ul li input{
		margin-left: .20rem;
		line-height: .80rem;
	}
	.detail p{
		padding-left: .20rem;
		padding-top: .10rem;
		font-size: .24rem;
	}
	.button{
		line-height: .80rem;
		border-radius: 0.06rem;
		font-size: .32rem;
		margin-top: 1.70rem;
	}
}