body{
	background: #fff!important;
}

.content{
	font-family:"微软雅黑";
}
.head{
	width:100%;
	line-height: 80px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	overflow: hidden;
	font-size: 32px;
	color: #333;
	height: 80px;
}
.head a{
    padding-left: 20px;
    float: left;
}
.head a img{
	width: 20px;
	margin-top: 20px;
}
.list{
 	width: 100%;
 	border-bottom: 1px solid #ccc;
}
.list ul{
	overflow: hidden;
	margin-bottom: -1px;
}
.list li{
	float: left;
	width:25%;
	text-align: center;
	line-height: 60px;
}
.list li a{
	display:block;
	color: #666;
	font-size: 28px;
}
.list .cur a{
	color: #ffa104;
	border-bottom: 2px solid #ffa104;
}
/*详情开始*/

.pic ul  .pic_a{
	overflow: hidden;
	padding-bottom: 10px;
}
.pic ul  .pic_a a{
	overflow: hidden;
}
.pic .pic_a .mc{
	width: 90%;
	overflow: hidden;
	padding: 10px 0 10px 34px;
	color: #333;
	font-size: 26px;
	float: left;

}
.pic .pic_a p span{
	float: right;
	color: #ffa104;
}
.pic .pic_a h3{
	float: left;
	width:33%;

}
.pic .pic_a h3 img{
	width: 150px;
	height: 150px;
	padding:0 20px 15px 20px;


}
.pic .font{
	float: left;
	width:64%;
}
.pic .font ul{
	overflow: hidden;
}
.pic .font ul li{
	font-size: 24px;
	line-height: 40px;
}
.pic .font .color{
	font-size: 26px;
	color: #333;
}
.pic .font ul .fu{
	float: right;
}
.pic .fu p{
	float: left;
    border: 1px solid #ffa104;
    margin-left: 20px;
 	width: 110px;
    text-align: center;
    background: #ffa104;
    color: #fff;
}
.pay_m{
	padding: 0 5px;
}
.pay_m a{
	color: #fff;
}
.pic .font .fu .del{
	width:110px;
	margin-left: 40px;
	border: 1px solid #ccc;
	background: none;
	color: #666;
}
.pic .font .fu .cancel{
	width:130px;
	margin-left: 40px;
	border: 1px solid #ccc;
	background: none;
	color: #666;
}
.pic .font .fu .confirm{
	width:130px;
	margin-left: 40px;
	border: 1px solid #ccc;
	background: none;
	color: #666;
}
.no{
	width: 100%;
	height: 10px;
	background: #f5f5f5;
}
.sitetime{
	width: 95%;
	border-top: 1px solid #ccc;
	font-size: 20px;
	color: #8c8c8c;
	margin: 0 auto;
	overflow: hidden;
}
.sitetime li{
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding: 10px 0;
}
.picwrap{
	overflow: hidden;
}
.sitetime span,b{
	float: left;
}
.sitetime span{
	margin: 0 34px 0 15px;
}
.sitetime a{
	float: right;
	color: #ffa400;
}
.pic .show{
	font-size: 22px;
}
@media screen and (min-width: 1024px) {
	body,html{
		font-size: 60px;
	}
	.head{
		line-height: .80rem;
		font-size: .32rem;
		height: .80rem;
	}
	.head a{
		padding-left: .20rem;
	}
	.head a img{
		width: .20rem;
		margin-top: .20rem;
	}
	.list li{
		line-height: .60rem;
	}
	.list li a{
		font-size: .28rem;
	}
	/*详情开始*/

	.pic ul  .pic_a{
		padding-bottom: .10rem;
	}
	.pic .pic_a .mc{
		padding: .10rem 0 .1rem .34rem;
		font-size: .26rem;
	}
	.pic .pic_a h3{
		width:20%;
	}
	.pic .pic_a h3 img{
		width: 1.50rem;
		height: 1.50rem;
		padding:0 .20rem .15rem .20rem;
	}
	.pic .font ul li{
		font-size: .24rem;
		line-height: .40rem;
	}
	.pic .font .color{
		font-size: .26rem;
	}
	.pic .fu p{
		margin-left: .20rem;
		width: 1.10rem;
	}
	.pay_m{
		padding: 0 0.05rem;
	}
	.pic .font .fu .del{
		width:1.10rem;
		margin-left: .40rem;
	}
	.pic .font .fu .cancel{
		width:1.30rem;
		margin-left: .40rem;
	}
	.pic .font .fu .confirm{
		width:1.30rem;
		margin-left: .40rem;
	}
	.no{
		height: .10rem;
	}
	.sitetime{
		font-size: .20rem;
	}
	.sitetime li{
		padding: .10rem 0;
	}
	.sitetime span{
		margin: 0 .34rem 0 .15rem;
	}
	.pic .font{
		width:76%;
	}
	.pic .show{
		font-size: 0.24rem;
	}
}