body{
	font-family: "微软雅黑";
	color: #333;
	max-width: 750px !important;
}
.head {
	font-size: 36px;
	line-height: 85px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	color: #333;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.head .return{
	position: absolute;
	top: 0;
	left: 10px;
}
.head .return a{
	display: inline-block;
}
.head .return a img{
	margin-top: 10px;
}
.head .edit{
	font-size: 28px;
	position: absolute;
	top: 0;
	right: 10px;
}
.head .plus{
	font-size: 28px;
	position: absolute;
	top: 0;
	right: 79px;
}
.content ul li{
	margin-bottom: 20px;
	background: #fff;
	border-bottom: 1px solid #dadada;
	position: relative;
}
.content ul li a{
	padding: 0 24px;
	display: inline-block;
	height: 174px;
}
.content ul li i{
	font-size: 28px;
	color: #fec240;
	line-height: 28px;
	margin: 30px 0 23px 0;
}
.tit_left{
	float: left;
}
.tit_right{
	float: right;
}
.content ul li span.coursecon{
	font-size: 28px;
	color: #999;
	line-height: 32px;
	width: 700px;
	height: 62px;
	overflow: hidden;
	word-break: break-all;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.content ul li b.delete{
	width: 136px;
	text-align: center;
	font-size: 36px;
	background: #fd4848;
	color: #fff;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 174px;
	display: none;
}
.coursetit{
	display: block;
	overflow: hidden;
}
@media screen and (min-width: 1024px) {
	body,html{
		font-size: 60px;
		max-width: 640px !important;
	}
	.head {
		font-size: .36rem;
		line-height: .85rem;
	}
	.head .return{
		left: .10rem;
	}
	.head .return a img{
		margin-top: .10rem;
	}
	.head .edit{
		font-size: .28rem;
		right: .10rem;
	}
	.head .plus{
		font-size: .28rem;
		right: .79rem;
	}
	.content ul li{
		margin-bottom: .20rem;
	}
	.content ul li a{
		padding: 0 .24rem;
		height: 1.74rem;
	}
	.content ul li i{
		font-size: .28rem;
		line-height: .28rem;
		margin: .30rem 0 .23rem 0;
	}
	.content ul li span.coursecon{
		font-size: .28rem;
		line-height: .32rem;
		width: 10rem;
		height: .62rem;
	}
	.content ul li b.delete{
		width: 1.36rem;
		font-size: .36rem;
		line-height: 1.74rem;
	}
}